$color-background-dark: black;
$color-background-color: red;
$color-background-light: white;

$color-dark: white;
$color-color: green;
$color-light: black;

$color-link-dark: blue;
$color-link-color: yellow;
$color-link-light: green;

$color-border-dark: white;
$color-border-color: purple;
$color-border-light: black;
