@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-end() {
  @include flex-row();
  align-items: center;
  justify-content: flex-end;
}
@mixin flex-row-start() {
  @include flex-row();
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-row-space-around() {
  align-items: center;
  @include flex-row();
  justify-content: space-around;
}

@mixin flex-row-space-between() {
  @include flex-row();
  align-items: center;
  justify-content: space-between;
}

@mixin flex-row-space-evenly() {
  @include flex-row();
  align-items: center;
  justify-content: space-evenly;
}

@mixin flex-row-wrap {
  @include flex-row();
  flex-wrap: wrap;
}
@mixin flex-row-nowrap {
  @include flex-row();
  flex-wrap: nowrap;
}
